* {
  font-family: "Oswald", serif;
  color: #fff;
}

body {
  background-color: rgb(0, 0, 0);
}

p {
  color: #ffff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 140px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #ffff;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #a412ff;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.learn-more {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #585d9f 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 2px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.learn-more:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.learn-more:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.learn-more:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.download {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #585d9f 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 2px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  float: right;
  margin-right: 50px;
  margin-top: -10px;
}

.download:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.download:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.download:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

hr {
  border: 3px solid white;
  border-radius: 5px;
}
h1 {
  color: #12ffeb;
}

.section-title {
  color: antiquewhite;
}

.skill-list,
.course-list,
h2,
h5 {
  color: #ffff;
}

.section-title {
  align-items: center;
  justify-content: center;
  display: flex;
}

.entry-info {
  margin-top: -15px;
}

.resume {
  max-width: 900px;
  margin: 0 auto;
}

.entry-description {
  padding-left: 10px;
}

.footer {
  color: #ffff;
  position: fixed; /* changed */
  width: 100%;
  background: #232527;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-title {
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration: underline white;
}
.contact-info {
  color: #ffff;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 15px;
  margin-top: 15px;
}

.about,
.project,
.project1,
.project2,
.project3 {
  display: flex;
  align-items: center;
  max-width: 900px; 
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background: transparent;
  background-color: teal;
  border: solid 2px #12ffeb;
  transition: border-color 0.3s ease;
  transition: border-radius 0.3s ease
}

.about:hover,
.project:hover,
.project1:hover,
.project2:hover,
.project3:hover {
  border-color: whitesmoke;
  border-radius: 20px;
}

.about-image,
.port-image {
  margin-right: 20px;
}

.about-image img,
.port-image img {
  border-radius: 10px;
  border-color: teal;
  max-width: 100%;
  height: auto;
}

.about-text {
  flex: 1;
}

.about-text p {
  margin: 10px 0;
  color: #ffffff;
}

form {
  width: 600px;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 15px;
  padding: 15px;
  font-size: 15px;
  background: transparent;
  background-color: teal;
  border: solid 2px #12ffeb;
  transition: border-color 0.8s ease, background-color 1s ease,
    transform 1s ease;
}

input[type="submit"] {
  border-radius: 25px;
  background: transparent;
  background-color: teal;
  border: solid 2px #12ffeb;
  font-size: 20px;
}

::placeholder {
  color: #ffff;
  opacity: 0.6;
}

input[type="submit"]:hover {
  box-sizing: 100%;
  transform: scale(1.2);
  transition: transform 1s ease-in-out;
}

.img-gallery {
  width: 70%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.img-gallery img {
  width: 100%;
  cursor: pointer;
}

.img-gallery img:hover {
  transform: scale(0.8) rotate(-10deg);
  transition: transform 1.5s;
  border-radius: 15px;
  box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}

.gallery-detail {
  color: #ffff;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 15px;
  margin-top: 15px;
}

.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 8px;
  background: linear-gradient(to right, teal, #12ffeb);
  width: 0%;
  z-index: 100;
  transition: width 0.2s ease-out;
}
